.cp::placeholder {
    color: rgb(250,169,13); /* Change this to your desired color */
    opacity: 50%; /* Change this to your desired opacity */
}
.cp {
    color: rgb(250,169,13);
    background: rgb(0,0,0);
}